.icon{
    font-size: 2rem;
}

/* ------------- SLIDEBAR ---------------- */

.slidebar{
    height: 100vh;
    background-color: var(--azulPrincipal);
    color: var(--blanco);
}

.slidebar a{
    text-decoration: none;
}

.btn-close-slidebar{
    font-size: 1.8rem;
    color: var(--blanco);
}

.header-slidebar{
    display: flex;
    justify-content: flex-end;
}

.body-slidebar{
    margin-top: 2rem;
    height: 55vh;
}

.footer-slidebar{
    position: relative;
}

.btns-slidebar{
    position: relative;
    width: 75%;
    height: 4.5rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    padding: 0 1.5rem;
    background: none;
    border: none;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.btns-slidebar p{
    margin-top: .8rem;
    font-size: 1.5rem;
    color: var(--blanco);
}

.btns-slidebar i{ 
    position: relative;
    font-size: 1.5rem;
    color: var(--blanco);
    margin-left: 1rem;
    transition: all .5s ease;
}


.btns-slidebar:hover i{
    margin-left: auto;
    transition: all .5s ease;
}

.btns-slidebar:hover{
    background-color: rgba(0, 0, 0, .3);
}







