.container-login{
    position: relative;
    width: 40rem;
    height: 24rem;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 11rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    border-radius: .5rem;
    overflow: hidden;
}

.container-logo{
    background-color: var(--blanco);
    width: 20rem;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-logo img{
    width: 20rem;
}

.formulario{
    width: 22rem;
    height: 100%;
    background-color: var(--azulPrincipal);
    padding: 1.5rem;
}

.formulario h3{
    text-align: center;
    color: var(--blanco);
}

.form-input{
    width: 100%;
    padding: .3rem .5rem;
    border-radius: .2rem;
    border: none;
}

.btn-ingresar{
    margin-top: 2rem;
    background: none;
    padding: .5rem 1rem;
    background-color: var(--azulPrincipal);
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: .5rem;
    font-weight: bolder;
    transition: all .8s ease;
}

.btn-ingresar:hover{
    background-color: var(--blanco);
    color: var(--azulPrincipal);
    border: 2px solid var(--azulPrincipal);
    transition: all .8s ease;
}

/* RESPONSIVE */
@media (max-width: 690px) {

    .container-login{
        display: block;
        height: auto;
        width: 20rem;
        margin-top: 12rem;
        margin-bottom: 2rem;
    }
   
    .formulario{
        width: 100%;
        padding: 3rem 2rem;
    }

    .container-logo{
        position: absolute;
        visibility: hidden;
    }
    
}

@media (max-width: 915px) {

    .container-login{
        margin-top: 20rem;
    }
   
}

@media (max-width: 450px) {

    .container-login{
        margin-top: 13rem;
    }
   
}
