.navbar-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    /* background:rgb(0, 0, 0, .1); */
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azulPrincipal);
    z-index: 1000;
    box-shadow: 0 5px 8px rgb(0, 0, 0, .2);
}

.logo-navbar{
    width: 5rem;
}

.nav-bar a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--blanco);
    transition: .5s ease all;
}

.nav-bar a:hover{
    border-bottom: 4px solid var(--blanco);
    color: var(--blanco);
    transition: .5s ease all;
}


