:root{
    --azulPrincipal: #0367A6;
    --azulSecundario: #03658C;
    --azulClaro: #63A5BF;
    --grisOscuro: #262624;
    --grisClaro: #BFBFBF;
    --blanco: #F2F2F2;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #efefef;
}

.textarea{
    resize: none;
}

.btns{
    text-decoration: none;
    color: var(--blanco);
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.btns:hover{
    color: var(--blanco);
    opacity: .9;
}

.btns i{
    
    font-size: 1.2rem;
    margin-left: .2rem;

}

.btnEditar{
    background-color: var(--azulSecundario);
}

.btnEliminar{
    background-color: #e01b14;
}

/* FORM BUSCAR */
.formBuscar{
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.formBuscar button{
    width: 8rem;
}

.formBuscar button i{
    margin-left: .5rem;
}

/* Checks */
.container-checks{
    width: 40vw;   
    margin-left: auto;
    margin-right: auto;
}
